<h3> Показания счетчиков воды на {{date}}, квартира 437 </h3>

<table style="border: 1px solid black; border-collapse: collapse;">
    <tr>
        <th style="border: 1px solid black; "></th>
        <th style="border: 1px solid black; ">Предыдущее показание счетчика</th>
        <th style="border: 1px solid black; ">Текущее показание счетчика</th>
        <th style="border: 1px solid black; " >Расход</th>
    </tr>
    <tr>
        <td style="border: 1px solid black; ">Горячая вода</td>
        <td style="border: 1px solid black; ">{{lastHot}}</td>
        <td style="border: 1px solid black; ">{{currentHot}}</td>
        <td style="border: 1px solid black; ">{{rateHot}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; ">Холодная вода</td>
        <td style="border: 1px solid black; ">{{lastCold}}</td>
        <td style="border: 1px solid black; ">{{currentCold}}</td>
        <td style="border: 1px solid black; ">{{rateCold}}</td>
    </tr>
</table>